<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569327319360-10h1eun9fkoa2ata0ei5dof32d5be191.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569327319360-10h1eun9fkoa2ata0ei5dof32d5be191</string>
	<key>API_KEY</key>
	<string>AIzaSyBjTnajsaDTACgmWC2U41qABKMGGfhKNak</string>
	<key>GCM_SENDER_ID</key>
	<string>569327319360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easytravel.driver</string>
	<key>PROJECT_ID</key>
	<string>easy-travel-6013a</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-travel-6013a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569327319360:ios:8cedfebd945d29da27e2a5</string>
	<key>DATABASE_URL</key>
	<string>https://easy-travel-6013a.firebaseio.com</string>
</dict>
</plist>